@import 'InvoiceVariables';

.invoice {
    max-width: $invoiceMaxWidth;
    margin: ($rhythm * 2) auto;
    border: 1px solid $tableBorderColor;
    padding: $rhythm * 2;
    border-radius: $borderRadius;
    background: $bgColor;
}

.customer {
  width: 80%;

  & > h2 {
    display: flex;
    justify-content: flex-end;
  }

  & > input.fname {
    border: 1px solid $tableBorderColor;
    border-radius: $borderRadius;
  }
}

.total-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.value-table {
  margin: 0 0 0 auto;
  border: 1px solid $tableBorderColor;
  border-radius: $borderRadius;
  overflow: hidden;
  width: 100%;
  min-width: $invoiceMaxWidth / 3;
  max-width: $invoiceMaxWidth / 3;

    & > .row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);  
    
    & > div {
      padding: $rhythm / 2;
    }

    & > .label {
      @extend %flex-center
    }

    & > .total-amount {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
  }
}

.pay {
  display: flex;
  justify-content: flex-end;
  padding: $rhythm 0 $rhythm $rhythm;
}

.pay-now {
  display: block;
  padding: $rhythm ($rhythm * 2);
  background: lightyellow;
  border-radius: $borderRadius;
  border: 1px solid #444;
}
