$rhythm: 20px;

$invoiceMaxWidth: 800px;
$borderRadius: 4px;

$tableBorderColor: #ccc;
$boxBgColor: #eee;
$bgColor: white;
$addColor: darkgreen;

.invoice {
    max-width: $invoiceMaxWidth;
    margin: ($rhythm * 2) auto;
    border: 1px solid $tableBorderColor;
    padding: $rhythm * 2;
    border-radius: $borderRadius;
    background: $bgColor;
}

.total-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.value-table {
  margin: 0 0 0 auto;
  border: 1px solid $tableBorderColor;
  border-radius: $borderRadius;
  overflow: hidden;
  width: 100%;
  min-width: $invoiceMaxWidth / 3;
  max-width: $invoiceMaxWidth / 3;
  
}
